include mixins
include mixins_3
doctype html
html(lang='ru')
	+dev_head('ivave support ticket')

	body
		.wrapper
			.base
				+page_header(true, false, true)
				.page_title_block
					h2.page_caption Ticket #543 - closed

				div.main_content

					.content_block
						.support_ticket
							.ticket_item
								p.fw_b Testing this awsome ticketing system
								p Heyyyyaaaaa it is working or not???
							.ticket_item.nest_1.icon-speach_cloud
								p.fw_b Support
								p It is working!
							.ticket_item.nest_1.icon-speach_cloud
								p.fw_b You
								p HHOHOHOO motherfucker!

			+page_footer()
		+dev_btns_unreg()
		+unreg_popups()
		+popups()
		+dev_pages()