include mixins
doctype html
html(lang='ru')
	+dev_head('ivave faq')

	body
		.wrapper
			.base
				+page_header(true)

				.page_title_block
					h2.page_caption FAQ
					
				div.main_content
					.content_block
						.content_box: .faq_list_holder
							ul.faq_list
								li.faq_item
									.faq_caption I'm first time here. Where I should start?
									.faq_answer 
										p Welcome! In order to use all services you should setup an account with us. Start by click on a red Sign Up button in top of the main page. Enter your valid email address, because after registering confirmation message would be sent there and password. Note that password is case sensitive and should be not shorter than 6 characters. Read carefully and agree to Terms and Conditions. Click on "Sign Up" button to finish this procedure.

								li.faq_item
									.faq_caption I'm first time here. Where I should start?
									.faq_answer
										p Enter your valid email address, because after registering confirmation message would be sent there and password. Note that password is case sensitive and should be not shorter than 6 characters. Read carefully and agree to Terms and Conditions. Click on "Sign Up" button to finish this procedure.		

								li.faq_item
									.faq_caption I'm first time here. Where I should start?
									.faq_answer
										p This appears because cookies in your browser disabled. You have to just turn on cookies in your browser: go into "Internet options" in your browser and click on "Privacy" to change your settings (procedures may differ depending on which browser you use). It is also possible that your proxy server caches Internet pages "too efficiently". Check the settings or refer to your system administrator or ISP technical support. 
										
							ul.faq_list
								li.faq_item
									.faq_caption I'm first time here. Where I should start?
									.faq_answer 
										p Enter your valid email address, because after registering confirmation message would be sent there and password. Note that password is case sensitive and should be not shorter than 6 characters. Read carefully and agree to Terms and Conditions. Click on "Sign Up" button to finish this procedure.
										
								li.faq_item
									.faq_caption I'm first time here. Where I should blabla start?
									.faq_answer 
										p This appears because cookies in your browser disabled. You have to just turn on cookies in your browser: go into "Internet options" in your browser and click on "Privacy" to change your settings (procedures may differ depending on which browser you use). It is also possible that your proxy server caches Internet pages "too efficiently". Check the settings or refer to your system administrator or ISP technical support. 
										
								li.faq_item
									.faq_caption How do I change my login email address or password?
									.faq_answer 
										p For this purpose you have to log into your account and visit your personal account page. There you will be able to change any personal info you have. Please do not forget to save changes by clicking on "Save changes" button into each fixed section.
										
								li.faq_item
									.faq_caption How do I change my login email address or password?
									.faq_answer 
										p For this purpose you have to log into your account and visit your personal account page. There you will be able to change any personal info you have. Please do not forget to save changes by clicking on "Save changes" button into each fixed section.
										
			+page_footer()
		+popups()
		+dev_btns()
		+dev_pages()
		